selenium
beautifulsoup4
matplotlib
https://download.lfd.uci.edu/pythonlibs/w3jqiv8s/Kivy_Garden-0.1.4-py2.py3-none-any.whl; sys_platform == 'win32'
https://download.lfd.uci.edu/pythonlibs/w3jqiv8s/Kivy-1.11.1-cp38-cp38-win32.whl; sys_platform == 'win32' and python_version == '3.8'
https://download.lfd.uci.edu/pythonlibs/w3jqiv8s/Kivy-1.11.1-cp39-cp39-win32.whl; sys_platform == 'win32' and python_version == '3.9'
Kivy; sys_platform != 'win32'
japanize_kivy
